<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Person</title>
</head>
<body>
    <style>
        li{
            list-style: none;
        }
    </style>
    <h2>Person Detail</h2>
    <ul>
        <% data.forEach((person) => { %>
        <li>
            <p>Name : <span><%= person.name %></span></p>
        </li>
        <li>
            <p>Age : <span><%= person.age %></span></p>
        </li>
        <li>
            <p>Address : <span><%= person.address %></span></p>
        </li>
        <hr>
        <% }) %>
    </ul>
</body>
</html>
